*.pyc
__pycache__/
build/
dist/
*.egg-info/
.eggs/
leakradar.egg-info/
.vscode/
.idea/
venv/
env/
.venv/
.env/
*.log
htmlcov/
.coverage
.tox/
.pytest_cache/
*.tmp
*.temp
*.~*
*.swp
.DS_Store
Thumbs.db
*.pdf